{% extends 'base.html'%}
{% load static %}
{%block content%}
<div class="container mt-5 mb-5">
                      <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire car</h3>
                        <form method="GET">
                                <div class='row'>
                                <div class='col-2'>
                                        <label>Brand</label>
                                        <select class='form-control' name='brand'>
                                        <option selected="selected">All</option> 
                                        {% for brand in brand_search %}
                                            <option value="{{brand.0.id}}"id='brand'>{{brand.0}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class='col-2'>
                                    <label>Gearbox</label>   
                                <select class='form-control' name='gearbox'>
                                    <option class='form-control' selected="selected">All</option> 
                                        <option value="1"id='gearbox'>Automatic</option>
                                        <option value="2"id='gearbox'>Manual</option>
                                </select>                           
                                </div> 
                              
                                <div class='col-2 mt-1 '> 
                                    <br>  
                                <input type="submit" class='form-control '></input>
                                </div>    
                            </form>
                        </div>
                    </div>
    <div class="d-flex justify-content-center row mt-5 ">
        <div class="col-md-10">
            {% for car in cars %}
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{car.car_photo.url}}"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{car.title}}</h5>
                  
                    <div class="mt-1 mb-1 spec-1"><span>{{car.year}} <br></span><span class="dot"></span><span>{{car.bodystyle}}<br></span><span class="dot"></span><span>Another info <br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Lorem ipsum <br></span><span class="dot"></span><span> </span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">${{car.price}}</h4><span class="strike-text">pirce/day</span>
                    </div>
                   
                    <div class="d-flex flex-column mt-4"><a  href="{% url 'detail_car' car.id %}" class="btn btn-primary btn-sm" >Details</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}